doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title schedule-vue
    link(rel="stylesheet", href="/bundle/style.css")
  body
    form
      input(type="email", autocomplete="email")
      input(type="password", autocomplete="current-password")
      button(type="submit") Login
    script.
      const apiUrl = #{htmlWebpackPlugin.options.apiUrl};

    script.
      const form = document.querySelector('form');

      form.addEventListener('submit', (e) => {
        e.preventDefault();
        window.location.assign('/index.html');
      });
